<h1>Word Counter</h1>

<form action="/results" method="get">
  <div class="form-group">
    <label for="input">Enter a word</label>
    <input class="form-control" type="text" name="input" id="input">
    <label for="list">Enter your sentence</label>
    <input placeholder="sentence" class="form-control" type="text" name="sentence" id="sentence">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
