<h1 class="nadpis">Word Counter</h1>
<form action="/results" method="get">
  <div class="form-group">
    <label for="input">Enter a word</label>
    <input placeholder="Your word" class="form-control" type="text" name="input" id="input">
    <label for="sentence">Enter your sentence</label>
    <input placeholder="Your sentence" class="form-control" type="text" name="sentence" id="sentence">
  </div>
  <button type="submit" class="btn-success submit-btn">Submit</button>
</form>
