body {
  /*background-image: url("../img/blue-version.jpg");*/
  background: url('../img/light-version.jpg') no-repeat left top fixed;
  background-size: cover;
}
/*.nadpis {
  text-shadow: 0 0 3px #FF3400, 0 0 5px #FFF000;
}*/
.submit-btn {
  border-radius: 30px;
}
